.item-menu{
    position: relative;
}
.link-menu{
    background-color: #a7e0f0;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 100px 20px;
    writing-mode: vertical-lr;
    color: rgb(47, 95, 161);
    font-size: 20px;
    text-transform: uppercase;
}
.submenu{
    list-style: none;
    margin: 0;
    padding: 20px ;
    background-color: rgb(96, 199, 255);
    position: absolute;
    top: 0;
    height: 88%;
    
    transform: translateX(-100%);
    transition: transform 500ms ease;
}
.side-link{
    margin-bottom: 10px;
}
.text{
    text-decoration: none;
    color: rgb(4, 9, 95);
    font-weight: 500;
}
.item-menu:hover .submenu{
    opacity: 1;
    transform: translateX(0);
}
.icon{
    width: 14px;
    height: 14px;
}
.text:hover{
    color: rgb(9, 251, 198);
}

